@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */


/* .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
} */

body {
  background-color: aliceblue;
}

.top-part {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 50px;
  color: white;

}

.header-main {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid white 1px;

}

.header-main .header-left {
  display: flex;
}

.header-main .header-left p {
  margin-inline-start: 10px;
}

.header-main .header-left p span {
  margin-inline-start: 15px;
  margin-inline-end: 5px;
}

.header-main .header-right>* {
  margin-inline-end: 10px;

}

.header-main .header-right .header-icons {}

.header-main .header-right .login,
.register {
  color: white;
  border-radius: 10px;
  padding: 1px 7px;
  background-color: transparent;
  font-size: 12px;
  border-color: #40df9f;
}

.header-main .header-right .login {}

.header-main .header-right .register {}




.nav-main {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.8rem;

}

.nav-main .nav-right {
  display: flex;

}

.nav-main .nav-right .nav-add-listing,
.ham-menu {
  margin-inline-end: 10px;

}

.nav-main .nav-right .nav-add-listing {
  margin-inline-start: 10px;
  background-color: transparent;
  border-color: #40df9f;
  border-radius: 20px;
  padding: 10px;
  color: white;

}

.nav-main .nav-right .nav-ul {
  display: flex;
  font-size: 1.1rem;
  list-style: none;
  gap: 30px;
  margin-top: 7.5px;
  margin-right: 50px;
}

.nav-main .nav-right .ham-menu {
  background-color: transparent;
  border: none;
  color: white;
  width: 50px;
  font-size: 25px;
}


/* ///////////////////////// */
.nav-main .nav-left {
  display: flex;
}

.nav-main .nav-left #logo {}

.nav-main .nav-left #name {
  font-size: 2.2rem;
  padding-left: 120px;
  font-weight: 300;
}


/* ////////////////////////////// */


.body-main {
  margin-top: 20vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-main #main-text {
  font-size: 3.2rem;
  margin-bottom: 3vh;
  font-weight: 500;

}

.body-main #sub-text {
  font-size: 1.2rem;
  font-weight: 300;
}


/* ////////////////////////////////////////////////////// */

.cartopology-main {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.cards-main {
  /* background-color: aqua; */
}

.cards-main .container {
  /* background-color: red; */
  width: 240px;
  aspect-ratio: 1.2;
  /* margin: 50px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-main .container img {
  width: 200px;
  height: 80px;
  transition: transform .5s;
  /* background-color: blueviolet; */
}

.cards-main .container img:hover {
  transform: scale(1.1);
}


.cards-main .container p {
  margin-top: 25px;
}


/* ///////////////////////////////////////////// */
.popular-main {
  background-image: url(../src/images/popular-listing/popular-listing.png);
}

.popular-main .heading {
  text-align: center;
  color: white;
  padding: 30px;
}

.popular-main .card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.pop-card-main {}


.pop-card-main .container {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  /* margin: 50px; */
}

.pop-card-main .container .upper {
  position: relative;
  /* background-color: tomato; */
  overflow: hidden;
  height: 200px;
}

.pop-card-main .container .upper #car-img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
  transition: 0.5s;

}

.pop-card-main .container .upper:hover #car-img {
  transform: scale(1.2);
  /* opacity: 100; */
}

.pop-card-main .container .upper .zoomed-animation {
  color: white;
  background-image: linear-gradient(transparent, black);
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  font-size: 17px;
  bottom: 50;
  transition-duration: 0.5s;
}

.pop-card-main .container .upper:hover .zoomed-animation {
  transform: translateY(-100%);
  /* opacity: 100; */
}

.pop-card-main .container .upper .zoomed-animation span>* {
  margin-right: 5px;
  margin-left: 5px;
}

.pop-card-main .container .upper .zoomed-animation #reaction {
  padding: 5px;
  background-color: rgba(86, 86, 86, 0.7);
  border-radius: 25px;
  transition: transform 0.5s;
}

.pop-card-main .container .upper .zoomed-animation #reaction:hover {
  color: red;
}

.pop-card-main .container .upper .featured {
  background-color: #eb6245;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  left: 15px;
  top: 20px;
  padding: 5px 15px;
  border-radius: 20px;
}

.pop-card-main .container .mid {
  /* background-color: peru; */
  color: #0a2357;
  margin-top: 20px;
  margin-left: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.pop-card-main .container .mid .price {}

.pop-card-main .container .mid .carname-model {
  font-size: 17px;
  font-weight: 500;
}


.pop-card-main .container .mid .spans {
  display: flex;
}

.pop-card-main .container .mid .spans span {
  color: #f5c34b;
}

.pop-card-main .container .mid .spans span:nth-child(5) {
  margin-right: 10px;
}

.pop-card-main .container .mid .spans #p-content {}

.pop-card-main .container .mid .spans #p-content span {
  color: #2e486e;
  font-weight: 200;
}

.pop-card-main .container .lower {
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid rgb(78, 78, 78) 1px;
  /* background-color: seagreen; */
  color: rgb(78, 78, 78);
  font-weight: 200;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.pop-card-main .container .lower span {}

.pop-card-main .container .lower #lower-icon {
  margin-right: 5px;
}

/* //////////////////////////////////////////// */




.send-us-main {
  z-index: 1;
  background-image: url(images/footer-part/send-us-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
}

.send-us-main:before {
  z-index: -1;
  content: '';
  background-color: #092741;
  position: absolute;
  top: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
}


.send-us-main .heading {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  font-weight: 300;
}

.send-us-main .container {

  height: 100%;
  display: flex;
  justify-content: center;
  padding: 100px;

}

.send-us-main .container .left {
  /* background-color: violet; */
  width: 50%;

}

.send-us-main .container .left .left-inputs {
  /* background-color: yellow; */
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.send-us-main .container .left .left-inputs>* {
  flex: 1 1 40%;
  color: white;
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  /* background-color: #2e486e; */
  background-color: rgba(15, 64, 106, 0.5);
  border-radius: 10px;
}


.send-us-main .container .left .left-inputs input {}

.send-us-main .container .left .left-inputs select {
  color: lightgray;
  font-weight: 300;
}


.send-us-main .container .left #submit-btn {
  height: 60px;
  background-color: #ed5217;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  padding: 20px;
  transition: 0.5s;
}

.send-us-main .container .left #submit-btn:hover {
  color: white;
  cursor: pointer;
}

.send-us-main .container .right {
  /* background-color: rebeccapurple; */
}

.send-us-main .container .right .side-img {
  margin-top: 150px;
  margin-left: 50px;
  width: 32rem;
}

/* ///////////////////////////////////////////////////////////////// */
.team-main {
  background-color: violet;
  color: white;
}

.team-main .subheading {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.team-main .heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.team-main .card-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

/* /////////////////////////////////// */
.teamcards-main {}

.teamcards-main .container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  /* background-color: red; */
  overflow: hidden;
}


.teamcards-main .container #team-member-img {
  transition: 0.3s ease-in-out;
  width: 350px;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.teamcards-main .container .overlay-div {
  width: 350px;
  height: 480px;
  top: 0;
  position: absolute;
}

.teamcards-main .container .overlay-div .right-divs {
  /* background-color: black; */
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}

/* ///////////////-hover container-//////////// */

.teamcards-main .container:hover #team-member-img {
  transform: translateY(-5%);
}

.teamcards-main .container:hover .overlay-div .right-divs {
  transform: translateX(40%);
}

.teamcards-main .container:hover .overlay-div .right-divs .r-d-2 {
  transform: translateX(0);
}

.teamcards-main .container:hover .overlay-div .left-divs {
  transform: translateX(-20%);
}

.teamcards-main .container:hover .overlay-div .left-divs .l-d-2 {
  transform: translateX(0);
}

/* /////////////////////////////////////////// */
.teamcards-main .container .overlay-div .right-divs .r-d-1 {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-right: 330px solid #ffffff;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  transition: 0.3s ease-in-out;

}

.teamcards-main .container .overlay-div .right-divs .r-d-2 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 0;
  height: 0;
  border-right: 310px solid #1a6382;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  transform: translateX(20%);
  transition: 0.5s ease-in-out;
}

.teamcards-main .container .overlay-div .left-divs {
  position: absolute;
  bottom: -100px;
  /* // */
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
  transition-delay: 0.5s;
  overflow: hidden;

}

.teamcards-main .container .overlay-div .left-divs .l-d-1 {
  width: 0;
  height: 0;
  border-left: 330px solid #ffffff;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  /* // */
  transition: 0.8s ease-in-out;
}

.teamcards-main .container .overlay-div .left-divs .l-d-2 {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 0;
  height: 0;
  border-left: 300px solid#1a6382;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  transform: scaleY(1.1);
  /* // */
  transform: translateX(-20%);
  transition: 1s ease-in-out;
}





.teamcards-main .container:hover .pop-up-div {
  opacity: 100%;
}

.teamcards-main .container .pop-up-div {
  position: absolute;
  bottom: 80px;
  margin-left: 20px;
  opacity: 0%;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
  /* background-color: tomato; */
}













.teamcards-main .container .pop-up-div .member-name {}

.teamcards-main .container .pop-up-div .mem-link-div {
  margin-inline-start: 10px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.teamcards-main .container .pop-up-div .mem-link-div .member-links {}