@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

/* .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
} */

body {
  background-color: aliceblue;
}

.topPart_main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 96vw;
  background-color: rgba(46, 72, 110, 0.826);
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 9999999;
  padding: 0 50px;
  margin-inline-start: 1.5vw;
  padding-bottom: 10px;
  color: white;
}

/* //////////////////////////////////////////////////////////// */
.header-main {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid white 1px;
}

.header-main .header-left {
  display: flex;
}

.header-main .header-left p {
  margin-inline-start: 10px;
}

.header-main .header-left p span {
  margin-inline-start: 15px;
  margin-inline-end: 5px;
}

.header-main .header-right > * {
  margin-inline-end: 10px;
}

.header-main .header-right .header-icons {
}

.header-main .header-right .login,
.register {
  color: white;
  border-radius: 10px;
  padding: 4px 7px;
  background-color: transparent;
  font-size: 12px;
  border-color: #40df9f;
}

.header-main .header-right .login {
}

.header-main .header-right .register {
}

/* //////////////////////////////////////// */

.nav-main {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.nav-main .nav-right {
  display: flex;
}

.nav-main .nav-right .nav-add-listing,
.ham-menu {
  margin-inline-end: 10px;
}

.nav-main .nav-right .nav-add-listing {
  margin-inline-start: 10px;
  background-color: transparent;
  border-color: #40df9f;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.nav-ul {
  display: flex;
  font-size: 1.1rem;
  list-style: none;
  gap: 30px;
  margin-top: 7.5px;
  margin-right: 50px;
}

.nav-li {
  color: white;
  text-decoration: none;
}

.active {
  color: #40df9f;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #40df9f;
  left: 0;
  width: 100%;
  height: 2px;
}

.nav-main .nav-right .ham-menu {
  background-color: transparent;
  border: none;
  color: white;
  width: 50px;
  font-size: 25px;
}

/* ///////////////////////// */
.nav-main .nav-left {
  display: flex;
}

#logo {
  width: 450px;
}

.nav_left_in_footer #logo {
  margin-inline-start: 50px;
}

.nav-main .nav-left #name {
  font-size: 2.2rem;
  padding-left: 120px;
  font-weight: 300;
}

/* //////////////////////////////////////////////////////// */
.margin-main {
  /* background-color: red; */
  width: 100vw;
  height: 160px;
}

/* ////////////////////////////// */

.body-main {
  /* margin-top: 20vh; */
  /* background-color: red; */
  background-image: url("images/static-parts/bmw_m3_e92_95010_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-top: -160px;
}

.body-main .body_container {
  /* background-color: blue; */
  margin-top: 350px;
  margin: auto;
}

.body-main #main-text {
  font-size: 3.2rem;
  margin-bottom: 3vh;
  font-weight: 500;
}

.body-main #sub-text {
  font-size: 1.2rem;
  font-weight: 300;
}

/* ////////////////////////////////////////////////////// */

.cartopology-main {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.cards-main {
  /* background-color: aqua; */
}

.cards-main .container {
  /* background-color: red; */
  width: 240px;
  aspect-ratio: 1.2;
  /* margin: 50px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-main .container img {
  width: 200px;
  height: 80px;
  transition: transform 0.5s;
  /* background-color: blueviolet; */
}

.cards-main .container img:hover {
  transform: scale(1.1);
}

.cards-main .container p {
  margin-top: 25px;
}

/* ///////////////////popularListing////////////////////////// */
.popular-main {
  /* background-image: url(images/body-parts/popular-listing/popular-listing.png); */
  background-color: #0a2357;
}

.popular-main .heading {
  padding-top: 50px;
  color: white;
  position: relative;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.popular-main .heading::after {
  content: "";
  position: absolute;
  background-color: #59c89b;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.popular-main .card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.pop-card-main {
}

.pop-card-main .container {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  /* margin: 50px; */
}

.pop-card-main .container .upper {
  position: relative;
  /* background-color: tomato; */
  overflow: hidden;
  height: 200px;
}

.pop-card-main .container .upper #car-img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.pop-card-main .container .upper:hover #car-img {
  transform: scale(1.2);
  /* opacity: 100; */
}

.pop-card-main .container .upper .zoomed-animation {
  color: white;
  background-image: linear-gradient(transparent, black);
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  font-size: 17px;
  bottom: 50;
  transition-duration: 0.5s;
}

.pop-card-main .container .upper:hover .zoomed-animation {
  transform: translateY(-100%);
  /* opacity: 100; */
}

.pop-card-main .container .upper .zoomed-animation span > * {
  margin-right: 5px;
  margin-left: 5px;
}

.pop-card-main .container .upper .zoomed-animation #reaction {
  padding: 5px;
  background-color: rgba(86, 86, 86, 0.7);
  border-radius: 25px;
  transition: transform 0.5s;
}

.pop-card-main .container .upper .zoomed-animation #reaction:hover {
  color: red;
}

.pop-card-main .container .upper .featured {
  background-color: #59c89b;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  left: 15px;
  top: 20px;
  padding: 5px 15px;
  border-radius: 20px;
}

.pop-card-main .container .mid {
  /* background-color: peru; */
  color: #0a2357;
  margin-top: 20px;
  margin-left: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.pop-card-main .container .mid .price {
}

.pop-card-main .container .mid .carname-model {
  font-size: 17px;
  font-weight: 500;
}

.pop-card-main .container .mid .spans {
  display: flex;
}

.pop-card-main .container .mid .spans span {
  color: #f5c34b;
}

.pop-card-main .container .mid .spans span:nth-child(5) {
  margin-right: 10px;
}

.pop-card-main .container .mid .spans #p-content {
}

.pop-card-main .container .mid .spans #p-content span {
  color: #2e486e;
  font-weight: 200;
}

.pop-card-main .container .lower {
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid rgb(78, 78, 78) 1px;
  /* background-color: seagreen; */
  color: rgb(78, 78, 78);
  font-weight: 200;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.pop-card-main .container .lower span {
}

.pop-card-main .container .lower #lower-icon {
  margin-right: 5px;
}

/* //////////////////////////////////////////// */

.send-us-main {
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 1;
  background-image: url(images/body-parts/SendUsMessage/send-us-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
}

.send-us-main:before {
  z-index: -1;
  content: "";
  background-color: #0a2357;
  position: absolute;
  top: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
}

.send-us-main .heading {
  position: relative;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.send-us-main .heading::after {
  content: "";
  position: absolute;
  background-color: #59c89b;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.send-us-main .container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.send-us-main .container .left {
  /* background-color: violet; */
  width: 50%;
}

.send-us-main .container .left .left-inputs #send_us_from {
  /* background-color: yellow; */
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.send-us-main .container .left .left-inputs #send_us_from > * {
  flex: 1 1 40%;
  color: white;
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  /* background-color: #2e486e; */
  background-color: rgba(15, 64, 106, 0.5);
  border-radius: 10px;
}

.send-us-main .container .left .left-inputs #send_us_from input {
}

.send-us-main .container .left .left-inputs #send_us_from #message-type {
  color: lightgray;
  font-weight: 300;
}

.send-us-main .container .left .left-inputs #send_us_from #submit-btn {
  height: 60px;
  background-color: #59c89b;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  /* margin-top: 20px; */
  padding: 20px;
  transition: 0.5s;
}

.send-us-main .container .left .left-inputs #send_us_from #submit-btn:hover {
  color: #59c89b;
  background-color: white;
  cursor: pointer;
}

/* //////////////////////////////////////////// */
.send-us-main .container .right {
  /* background-color: rebeccapurple; */
}

.send-us-main .container .right .side-img {
  margin-top: 150px;
  margin-left: 50px;
  width: 32rem;
}

/* ///////////////////////////////////////////////// */
.toast_container {
  margin-top: 170px;
}

/* ///////////////////////////////////////////////////////////////// */
.team-main {
  /* background-color: violet; */
  background-color: #0a2357;
  padding: 30px;
  color: white;
}

.team-main .subheading {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.team-main .heading {
  position: relative;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.team-main .heading::after {
  content: "";
  position: absolute;
  background-color: #59c89b;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.team-main .card-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

/* /////////////////////////////////// */
.teamcards-main {
}

.teamcards-main .container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.teamcards-main .container #team-member-img {
  transition: 0.5s ease-in-out;
  transition-delay: 0.6s;
  width: 350px;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.teamcards-main .container .overlay-div {
  width: 350px;
  height: 480px;
  top: 0;
  position: absolute;
}

/* ///////////////-hover container-//////////// */

.teamcards-main .container:hover #team-member-img {
  transform: translateY(-5%);
}

.teamcards-main .container:hover .overlay-div .right-divs {
  transform: translateX(40%);
}

.teamcards-main .container:hover .overlay-div .right-divs .r-d-2 {
  transform: translateX(0);
}

.teamcards-main .container:hover .overlay-div .left-divs {
  transform: translateX(0);
}

.teamcards-main .container:hover .overlay-div .left-divs .l-d-2 {
  transform: translateX(0);
}

.teamcards-main .container:hover .pop-up-div {
  opacity: 100%;
}

/* /////////////////////////////////////////// */
.teamcards-main .container .overlay-div .right-divs {
  /* background-color: black; */
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}

.teamcards-main .container .overlay-div .right-divs .r-d-1 {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-right: 330px solid #59c89b;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  transition: 0.3s ease-in-out;
}

.teamcards-main .container .overlay-div .right-divs .r-d-2 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 0;
  height: 0;
  border-right: 310px solid #2e486e;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  transform: translateX(20%);
  transition: 0.5s ease-in-out;
}

.teamcards-main .container .overlay-div .left-divs {
  position: absolute;
  bottom: 0;
  /* // */
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
  transition-delay: 0.5s;
}

.teamcards-main .container .overlay-div .left-divs .l-d-1 {
  width: 0;
  height: 0;
  border-bottom: 220px solid #59c89b;
  border-right: 350px solid transparent;
  /* // */
  transition: 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.teamcards-main .container .overlay-div .left-divs .l-d-2 {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid #2e486e;
  border-right: 330px solid transparent;
  transition: 0.5s ease-in-out;
  transform: translateX(-50%);
  transition-delay: 0.6s;
}

.teamcards-main .container .pop-up-div {
  position: absolute;
  bottom: 70px;
  margin-left: 20px;
  opacity: 0%;
  transition: 0.3s;
  transition-delay: 0.9s;
  /* background-color: tomato; */
}

.teamcards-main .container .pop-up-div .member-name {
}

.teamcards-main .container .pop-up-div .mem-link-div {
  margin-inline-start: 10px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.teamcards-main .container .pop-up-div .mem-link-div #member-links {
}

#mimoo {
  background-color: white;
  display: block;
  padding: 10px;
  width: 100px;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 30%;
}

.Carousel_container {
  background-color: #0a2357;
  padding: 50px 0;
  margin: 50px 0;
  margin-bottom: 100px;
}

/* /////////////////////////////////////////////////////////// */
.scroll-to-top-button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #59c89b;
  bottom: 15px;
  color: white;
  font-size: 18px;
  height: 45px;
  line-height: 40px;
  padding: 3px 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 45px;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
  color: white;
}

/* ////////////////////////////////////////////////mohammed alarifi///////////////////////////////////////////////////// */
.main_in_footer {
  margin-top: 50px;
  background-color: #0a2357;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.424);
}

#name_in_footer {
  font-size: 20px;
  padding-left: 120px;
  font-weight: 300px;
  padding-bottom: 40px;
  color: #59c89b;
}

.nav_main_in_footer {
  /* background-color: blue; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.nav_main_in_footer .nav_right_in_footer {
  display: flex;
  margin-bottom: 20px;
}

.nav_main_in_footer .nav_right_in_footer .nav_add_listing_in_footer,
.ham_menu_in_footer {
  margin-inline-end: 10px;
}

.nav_main_in_footer .nav_right_in_footer .nav_add_listing_in_footer {
  margin-inline-start: 10px;
  background-color: transparent;
  border-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: color;
}

.nav_main_in_footer .nav_right_in_footer .nav_ul_in_footer {
  display: flex;
  font-size: 1rem;
  list-style: none;
  gap: 30px;
  /* margin-top: px; */
  margin-right: 50px;
  color: white;
}

/* ///////////body/////////// */

.body_in_footer {
  display: flex;
  flex-direction: column;
}

.body_in_footer_container {
  /* padding-left: 120px; */
  padding-top: 60px;
  background-color: #0a2357;
  padding-bottom: 30px;
}

#help_page_link {
  color: #40df9f;
}

.office,
.need_help,
.opening_hours {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.7);
  display: flex;
  flex-direction: column;
  max-width: 180px;
  padding-bottom: 80px;
}

.keep_in_touch {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.7);
}

.header_in_top {
  margin-bottom: 10px;
  color: white;
}

.col-auto_in_touch {
  background-color: #fff;
  border-radius: 13px;
  height: 40px;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  width: 100%;
}

.form-control_in_touch {
  border: 1px solid #59c89b;
  border-radius: 8px 0px 0px 0px;
  color: #5f6973;
  font-size: 12px;
  height: 40px;
  padding-left: 20px;
  margin: 0;
}

.form-control_in_touch:focus {
  border: none;
}

.col-auto_in_touch button {
  cursor: pointer;
  background-color: #59c89b;
  border-radius: 0 8px 8px 0;
  border: none;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  line-height: 0px;
  letter-spacing: 0;
  outline: none;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.top_in_footer {
  display: flex;
  justify-content: space-around;
}

.bottom_in_footer {
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.bottom_in_footer h4 {
  color: hsla(0, 0%, 100%, 0.7);
}

.icon_in_footer {
  display: flex;
  gap: 10px;
  transition: 1s;
}

.icon_in_footer > * {
  background-color: hsla(0, 0%, 100%, 0.07);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.icon_in_footer > *:hover {
  border: 1px solid #59c89b;
  transform: scale(1.2);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.help_main {
  background-color: #092741;
}

.help_main .help_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex: 0 1 30%; */
  gap: 20px;
}

.help_main .help_cards_container .help_cards {
  background-color: #40df9f;
  max-width: 45ch;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////requesthelp//////////// */

.container_in_service {
  background-color: #0a2357;
  padding: 50px;
  border-radius: 20px;
  margin: 0 1.5vw;
}

.container_in_service .heading {
  color: white;
  font-weight: 600;
  position: relative;
  width: fit-content;
  /* background-color: #092741; */
  margin-bottom: 30px;
}

.container_in_service .heading::after {
  content: "";
  position: absolute;
  background-color: #59c89b;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.container_in_service p {
  /* padding: 30px; */
  color: #5f6973;
  margin-bottom: 20px;
}

.container_in_service .row {
  display: flex;
}

.service_form {
  width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 50px;
}

.service_form .title {
  color: #59c89b;
  margin-bottom: 10px;
  font-size: 15px;
}

.fomr_in_service {
  background-color: white;
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.fomr_in_service label {
  font-size: 15px;
  margin-right: 20px;
  color: #5f6973;
}

/* .service_form .fomr_in_service div {
  
} */

.service_form .fomr_in_service div input,
#mechanic_input {
  text-indent: 10px;
  /* width: 50%; */
  /* width: 150px; */
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #59c89b;
  border-radius: 5px;
}

#mechanic_input {
  color: gray;
  background-color: transparent;
}

.service_form .fomr_in_service div button {
  background-color: #59c89b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 37px;
}

.service_form .fomr_in_service div {
  /* background-color: red; */
  width: calc(50% - 20px);
}

/* /////////////////////////////////////////////////// */
.opening-hours h3 {
  color: #59c89b;
}

.opening-hours {
  color: black;
  margin-left: 50px;
  width: 500px;
  /* border: 1px solid #ccc; */
  padding: 50px;
  height: fit-content;
  border-radius: 5px;
  background-color: white;
}

.opening-hours h3 {
  margin-bottom: 10px;
}

.opening-hours ul {
  list-style: none;
}

/* .opening-hours ul span {
  border-bottom: 10px solid red;
} */

.opening-hours li {
  margin-bottom: 5px;
  margin-bottom: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.fullscreen_image_container {
  background-color: red;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
}

.fullscreen_image {
  background-color: #092741;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////dashoard///////////////////// */

.dashboard {
  width: 80%;
  background-color: #f9f9f9;
  padding: 50px;
  margin: 20px auto;
}

.dashboard .title {
  color: #59c89b;
  margin-bottom: 10px;
  font-size: 25px;
}

.dsheboard_in_form {
  padding: 20px;
  background-color: white;
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dsheboard_in_form label {
  font-size: 15px;
  margin-right: 20px;
  color: #5f6973;
}

.dsheboard_in_form div input {
  text-indent: 10px;
  /* width: 50%; */
  /* width: 150px; */
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #59c89b;
  border-radius: 5px;
}

.dsheboard_in_form div input:focus {
  border: none;
  outline: 1px solid #59c89b;
}

.dsheboard_in_form button {
  background-color: #59c89b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  /* margin-top: 13%; */
}

.dsheboard_in_form div {
  /* background-color: red; */
  width: calc(50% - 20px);
}

/* ////Listing//// */

.form_in_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 30px;
  /* margin: 0px 50px; */
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.form_in_form input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_in_form input[type="text"] {
  border: 1px solid #59c89b;
}

.form_in_form input[type="text"]:focus {
  outline: 1px solid #59c89b;
}

.form_in_form input[type="number"] {
  border: 1px solid #59c89b;
}

.form_in_form input[type="number"]:focus {
  outline: 1px solid #59c89b;
}

.form_in_form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
}

.form_in_form input[type="radio"] {
  accent-color: #59c89b;
  width: 20px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
}

.form_in_form button[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  border-radius: 7px;
}

/* .form_in_form button[type="submit"]:hover {
  background-color: red;
} */

.search_icon {
  margin-right: 10px;
}

.form_in_form label {
  display: inline-block;
  margin-bottom: 10px;
}

.container_of_form_popularlisting {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: 40px 40px;
}

/* //////////Listing popularListing2//////////// */
.popular-main2 {
  /* background-image: url(../src/images/popular-listing/popular-listing.png); */

  /* background-color: red; */
}

.popular-main2 .card-container2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.pop-card-main2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
}

.pop-card-main2 .container2 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* background-color: red; */
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.pop-card-main2 .container2 .upper2 {
  position: relative;
  /* background-color: tomato; */
  overflow: hidden;
  height: 200px;
}

.pop-card-main2 .container2 .upper2 #car-img2 {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.pop-card-main2 .container2 .upper:hover #car-img2 {
  transform: scale(1.2);

  /* opacity: 100; */
}

.pop-card-main2 .container2 .upper2 .zoomed-animation2 {
  color: white;
  background-image: linear-gradient(transparent, black);
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  font-size: 17px;
  bottom: 50;
  transition-duration: 0.5s;
}

.pop-card-main2 .container2 .upper2:hover .zoomed-animation2 {
  transform: translateY(-100%);
  /* opacity: 100; */
}

.pop-card-main2 .container2 .upper2 .zoomed-animation2 span > * {
  margin-right: 5px;
  margin-left: 5px;
}

.pop-card-main2 .container2 .upper2 .zoomed-animation2 #reaction {
  padding: 5px;
  background-color: rgba(86, 86, 86, 0.7);
  border-radius: 25px;
  transition: transform 0.5s;
}

.pop-card-main2 .container2 .upper2 .zoomed-animation2 #reaction2:hover {
  color: red;
}

.featured2 {
  background-color: #59c89b;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  left: 15px;
  top: 20px;
  padding: 5px 15px;
  border-radius: 20px;
}

.pop-card-main2 .container2 .mid2 {
  /* background-color: peru; */
  color: #0a2357;
  margin-top: 20px;
  margin-left: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.pop-card-main2 .container2 .mid2 .price2 {
}

.pop-card-main2 .container2 .mid2 .carname-model2 {
  font-size: 17px;
  font-weight: 500;
}

.pop-card-main2 .container2 .mid2 .spans2 {
  display: flex;
}

.pop-card-main2 .container2 .mid2 .spans2 span {
  color: #f5c34b;
}

.pop-card-main2 .container2 .mid2 .spans2 span:nth-child(5) {
  margin-right: 10px;
}

.pop-card-main2 .container2 .mid2 .spans2 #p-content2 {
}

.pop-card-main .container .mid .spans #p-content span {
  color: #2e486e;
  font-weight: 200;
}

.pop-card-main2 .container2 .lower2 {
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid rgb(78, 78, 78) 1px;
  /* background-color: seagreen; */
  color: rgb(78, 78, 78);
  font-weight: 200;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.pop-card-main2 .container2 .lower2 span {
}

.pop-card-main .container .lower #lower-icon {
  margin-right: 5px;
}
